*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body, html{
    height: 100%;
    margin: 0px;
}

body{
    font-family: sans-serif;
    text-align: justify;
}

nav{
    display: block;
    padding: 5px 20px;
    color: aliceblue;
    background-color: black;
}

nav ul{
    list-style-type: none;
}

nav a{
    color: aliceblue;
    text-decoration: none;
}

nav a:hover{
    color: coral;
    text-decoration: underline;
}

.menu li{
    font-size: 16px;
    padding: 15px 5px;
}
.menu li a{
    display: block;
}
.logo a{
    font-size: 20px;
}
.button.secondary{
    border-bottom: 1px coral solid;
}

/*     Mobile menu     */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    order: 1;
}
.item.button{
    order: 2;
}
.item{
    width: 100%;
    text-align:center;
    order: 3;
    display: none;
}
.item.active{
    display: block;
}


.toggle{
    cursor: pointer;
}
.bars{
    background-color: gray;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}

.bars::before,.bars::after{
    background-color: gray;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;
}
.bars::before{
    top: 5px;
}

.bars::after{
    top: -5px;
}



.hero-image{
    background-image:linear-gradient(rgba(137, 197, 247, .5),rgba(0,0,0,1)), url("https://images.pexels.com/photos/210243/pexels-photo-210243.jpeg?cs=srgb&dl=pexels-pixabay-210243.jpg&fm=jpg");
    height: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-text{
    color:white;
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#profile-image{
    width: 100px;
    border-radius: 50%;
    border: 5px solid lightcoral;

}

#profile{
    text-align: center;
    
}

.side-articles ul{
    list-style-type: none;
    padding-left: 0px;
}

#profile h2{
    display: inline;
}

#profile-details{
    margin-right: 30px;
    text-align: center;
}

#school{
    margin: 10px;
    width: 90%;
    border-radius: 15px;
}
.school{
    text-align: center;
}
textarea, input, button{
    background-color: rgb(243, 252, 227);
    color:darkgreen;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 90%;
}

.side-articles h1{
    color: brown;
    margin-bottom: 20px;
}

footer{
    bottom: 0px;
    width: 100%;
    background-color: black;
    height: 5vh;
    margin-top: 0px;
}

footer div{
    text-align: center;
    color: aliceblue;
}

footer hr{
    margin:0px;
    height: 12px;
    border: 0px;
    box-shadow: inset 0 12px 12px -12px wheat
}

.container{
    display: flex;
    grid-template-columns: repeat(1,1fr);
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
    
}

.content{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.main-articles{
    margin-bottom: 10px;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 5px;
}
.side-articles{
    margin-top: 10px;
    background-color:rgb(232, 248, 201);
    padding: 10px;
    border-radius: 5px;
}

/*  Tablet screen min 468 pixels */

@media all and (min-width:468px) {
    .menu{
        justify-content: center;
    }
    .logo{
        flex: 1;
    }
    .item.button{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        order: 2;
    }
    .button.secondary{
        border: 0;
    }

    .button a{
        text-decoration: none;
        padding: 7px 15px;
        background-color: teal;
        border: 1px solid #006d6d;
        border-radius: 50em;
    }

    .button.secondary a{
        background-color: transparent;
    }
    .button a:hover{
        transition: all .25;
    }

    .button:not(.secondary) a:hover{
        background-color: #006d6d;
        border-color: #005959;
    }
}

            /* large screens for greather than 768px */


@media all and (min-width: 768px){
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .logo{
        order: 0;
    }
    .item{
        order: 1;
    }
    .button{
        order: 2;
    }

    .menu li{
        padding: 15px 10px;
    }

    .menu li.button{
        padding-right: 0;
    }

    /* body of text */

    .container{
        display: flex;
        grid-template-columns: repeat(2,1fr);
        flex-direction: row;
    }

    .side{
        margin-top: -10px;
        margin-left: 10px;
    }
    #school{
        
        width: 50%;
        
    }
}